<div class="wrapper border-bottom">
  <div class="topContent">
    <p class="uppercase">
      Customer filter
    </p>
    <button class="buttonRed" (click)="handleDiscardFilters()">Discard filters</button>
  </div>

<div class="filtersWrapper border">
<div 
*ngFor="let selectedFilter of selectedFilters; index as i" 
class="filterWrapper border-bottom" 
(mouseenter)="hovered=selectedFilter.type+i"  
(mouseleave)="hovered=''">
  <div class="filterTitle">
    <div class="flex">
      <span class="grey">{{i+1}}. Step: </span>
      <span class="step">{{selectedFilter.type || 'Unnamed step'}}</span>
     <app-icon name="edit"></app-icon>
    </div>
  <div class="flex" *ngIf="hovered == selectedFilter.type+i">
    <app-icon (click)="handleCopyFilter(i)" name="copy"></app-icon>
    <app-icon (click)="handleDeleteFilter(i)" *ngIf="i" name="delete"></app-icon>
  </div>
  </div>
<div class="filterContent">
  <app-select 
  [options]="filterOptions" 
  [selectedOption]="selectedFilter.type" 
  (selectedOptionChange)="handleFilterSelect($event, i)" 
  placeholder="Select an action">
  <input class="search" type="text" placeholder="Filter events..." (keyup)="handleFilterSearch($event)">
</app-select>
  <div *ngIf="selectedFilter.type"  class="propertiesWrapper">
    <div 
    class="propertyWrapper" 
    *ngFor="let property of selectedFilter.properties, index as j" 
    (mouseenter)="propertyHovered=selectedFilter.type+i+j"  
    (mouseleave)="propertyHovered=''">
      <app-select 
      [options]="filterPropertiesLookup[selectedFilter.type]"
      [selectedOption]="property.property"
      (selectedOptionChange)="handleAttributeSelect($event,selectedFilter.type, i, j)" 
      placeholder="Select an attribute">
      <input class="search" type="text" placeholder="Filter events..." (keyup)="handlePropertySearch($event, selectedFilter.type)">
      </app-select>
      <div class="valueWrapper"  *ngIf="property.property && property.type && property.value ">
        <app-select 
        [options]="propertyValuesLookup[property.type]" 
        [selectedOption]="property.value.type" 
        (selectedOptionChange)="handleValueOptionSelect($event, i, j)">
        <div class="valueWrapper border-bottom">
          <div class="text-center">
            <p>T</p>
            <p class="uppercase label" [ngClass]="{'selected':  property.type == 'string'}">String</p>
          </div>
          <div class="text-center">
            <p>#</p>
            <p class="uppercase label" [ngClass]="{'selected':  property.type == 'number'}">Number</p>
          </div>
        </div>
        </app-select>
        <input 
        class="border" 
        [type]="property.type == 'number' ? 'number': 'text'" 
        [ngModel]="property.value.value[0] || (property.type == 'number' ? 0: '')" 
        (ngModelChange)="property.value.value[0]=$event">
        <div class="valueWrapper" *ngIf="property.value.type == NumberOptions.inBetween">
          <p class="spanMargin">and</p>
          <input  class="border" type="number" [ngModel]="property.value.value[1] || 0"  (ngModelChange)="property.value.value[1]=$event.toString()">
        </div>
      </div>
        <app-icon [ngClass]="{'hidden': !(propertyHovered == selectedFilter.type+i+j)}" (click)="handlePropertyDelete(i, j)" name="close"></app-icon>
    </div>
  <button class="buttonAdd" (click)="handleAddAttribute(i)">{{selectedFilter.properties.length ? "Refine more" : "+ Add an event attribute"}}</button>
  </div>
</div>



</div>
<button class="buttonAdd uppercase buttonAddFilter" (click)="handleAddFilter()">
  + Add funnel step
</button>
</div>
<button class="buttonYellow" (click)="handleApplyFilters()">
  Apply filters
</button>
</div>
